# Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

# PyCharm
.idea

# ignore everything
*.ndf
*.ndfbin
*.csv
*.ini
*.prof
*.db
*.egg
*.egg-info/

# virtualenv
venv

# cache
__pycache__
.pytest_cache
.cache

# code coverage data
.coverage
coverage
.coverage.*
*,cover

# except
!pytest.ini

!assets/mod_location/GameData/Generated/Gameplay/Decks/Divisions.ndf
!assets/mod_location/GameData/Generated/Gameplay/Decks/DivisionRules.ndf
!assets/mod_location/GameData/Gameplay/Decks/DivisionCostMatrix.ndf
!assets/mod_location/GameData/Generated/Gameplay/Gfx/Ammunition.ndf
!assets/mod_location/GameData/Generated/Gameplay/Gfx/WeaponDescriptor.ndf
!assets/mod_location/GameData/Generated/Gameplay/Gfx/DamageTypeEvolutionOverRangeDescriptor.ndf
!assets/mod_location/GameData/Generated/Gameplay/Gfx/UniteDescriptor.ndf
!assets/mod_location/CommonData/Gameplay/Constantes/Enumerations/ArmureType.ndf
!assets/mod_location/GameData/Generated/UserInterface/UnitSpecialties.ndf
!assets/Utils/LocalisationEntries/Entries.csv
